@import '../variables';

.categories {
  width: 100%;

  scrollbar-width: thin;

  @media (max-width: 1400px) {
    overflow-x: scroll;
    padding-bottom: 5px;
  }

  ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 1400px) {
      flex-wrap: nowrap;
    }

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
